# Environment local, development, production 
NODE_ENV=local

# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET ='p4sta.w1th-b0logn3s3-s@uce'
JWT_ALGORITHM= 'HS256'
 
# Port
PORT=3000
PREFIJO_APIS='/api/s2/v2/'

# Debug
LOG_LEVEL='silly'

# Email
SMTP_HOST=''
SMTP_PORT=2525
SMTP_AUTH_USER=''
SMTP_AUTH_PASSWORD=''
